In [2]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [3]:
# *Tuples are used to store multiple values in single variable.
# *Tuples is a collection which is ordered and unchangeble.
# *Tuples are written in round bracket.

In [5]:
#tuple creation
tup1 = ('Apple','Banana','cherry')
print(tup1)

tup2 = tuple(('Apple','Banana','cherry'))
print(tup2)

('Apple', 'Banana', 'cherry')
('Apple', 'Banana', 'cherry')

In [6]:
t1 = (11,11.50,'ABC','xyz',(1,2))
type(t1)

tuple

In [7]:
#index
t1.index('xyz')

3

In [12]:
t1.index('11.50')

ValueError: tuple.index(x): x not in tuple

In [13]:
# count
t1.count(11)

1

In [15]:
# Access tuples using indexing
t1[0],t1[1]

(11, 11.5)

In [ ]:
# Concatenation
# Nesting
# Repetition
# Slicing
# Deleting
# Finding the length
# Conversion of tuples to list
# Tuples in a Loop

In [16]:
#Concatination
tup1 = (0,1,2,3)
tup2 = ('python','programs')

tup1 + tup2

(0, 1, 2, 3, 'python', 'programs')

In [17]:
# Code for creating nested tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')

tuple3 = (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [20]:
#Repetition Python Tuples

tuple1*3
tup3 = 'python'
tup3*3

'pythonpythonpython'

In [28]:
#Slicing Tuples in Python

t1[0:2]
print(t1[3][1])
print(t1[3][0:2])

y
xy

In [29]:
#Deleting a Tuple in Python

del tuple3
tuple3

NameError: name 'tuple3' is not defined

In [31]:
#Finding the Length of a Python Tuple

len(t1)

(11, 11.5, 'ABC', 'xyz', (1, 2))

In [32]:
#Converting a tuple to a List
t1_new = list(t1)
t1_new

[11, 11.5, 'ABC', 'xyz', (1, 2)]

In [33]:
#Tuples in a Loop

for i in t1:
    print(i)

11
11.5
ABC
xyz
(1, 2)

In [36]:
tup = ('geek',)
type(tup)

for i in range(5):
    tup = (tup,)
    print(tup)

(('geek',),)
((('geek',),),)
(((('geek',),),),)
((((('geek',),),),),)
(((((('geek',),),),),),)

In [38]:
#
test_tup = (10, 4, 5, 6, 7)
front, *_, rear = test_tup
rear

7

In [48]:
#Python – Element Index in Range Tuples

test_list = [(0, 10), (11, 20), (21, 30), (31, 40), (41, 50)]
k = 11
res = 0
for i,j in enumerate(test_list):
    #print(i,j)
    #print(j[-1])
    if k >=j[0] and k<=j[-1]:
        res =i
        print(res)

1

In [50]:
#Unpacking a Tuple in Python
t1 
x,*y,z = t1
print(x)
print(*y)
print(z)

11
11.5 ABC xyz
(1, 2)

In [51]:
#unpack nested tuple
# initialize list
test_list = [(4, (5, 'Gfg')), (7, (8, 6))]
 
# printing original list
print("The original list is : " + str(test_list))
 
# Unpacking nested tuples using nested loops
res = []
for z, x in test_list:
    temp = [z]
    for item in x:
        temp.append(item)
    res.append(temp)
 
# printing result
print("The unpacked nested tuple list is : " + str(res))

The original list is : [(4, (5, 'Gfg')), (7, (8, 6))]
The unpacked nested tuple list is : [[4, 5, 'Gfg'], [7, 8, 6]]

In [60]:
#slice string from tuple ranges
# initialize list and string
test_list = [(2, 4), (5, 9), (13, 17), (24, 27)]
 
test_str = "geeksforgeeks is best for geeks and programming"
 
# printing original list and string
print("The original list : " + str(test_list))
print("The original string : " + str(test_str))
 
# Slice String from Tuple ranges
# using loop + list slicing
for front, rear in reversed(test_list):
    print(test_str[: front])
    print()
    print(front)
    print()
    test_str[rear + 1:]
    #print(rear)
    test_str = test_str[: front] + test_str[rear + 1:]
 
# printing result
#print("The String after slicing is : " + str(test_str))

The original list : [(2, 4), (5, 9), (13, 17), (24, 27)]
The original string : geeksforgeeks is best for geeks and programming
geeksforgeeks is best fo

24

geeksforgeeks

13

geeks

5

ge

2

In [63]:
# clear tuple
print(tuple1)
temp = list(t1)
temp.clear()
t1 = tuple(temp)
print(t1 )

(0, 1, 2, 3)
()

In [106]:
# AND operation in tuple---------- Elementwise AND in tuples
# initialize tuples 
test_tup1 = (10, 4, 6, 9) 
test_tup2 = (5, 2, 3, 3) 

# and_tup =()
# for i in range(len(test_tup1)):
#     and_tup = and_tup + ((test_tup1[i] and test_tup2[i]),)
# print(and_tup)
    
    #???????????????????????????????????????????????????????????
    


def bitwise_and_tuples(tup1, tup2):
    result = []
    for i in range(len(tup1)):
        result.append(tup1[i] & tup2[i])
    return tuple(result)
test_tup1 = (10, 4, 5)
test_tup2 = (2, 5, 18)
res = bitwise_and_tuples(test_tup1, test_tup2)
print(res)

(2, 4, 0)

In [69]:
#Sum of tuples in Python using for Loop

tup = (1,2,3,4,0,11,22,33)
summ = 0
for i in tup:
    summ +=i
print(summ)
print("The summation of tuple elements are : " + str(summ))

76
The summation of tuple elements are : 76

In [129]:
#  Define a function() that takes two lists
def overlapping(list1, list2):

    c = 0
    d = 0
    for i in list1:
        c += 1
    for i in list2:
        d += 1
    for i in range(0, c):
        for j in range(0, d):
            if(list1[i] == list2[j]):
                return 1
    return 0


list1 = [8, 2, 3,4]
list2 = [1, 7, 9,8]
print(overlapping(list1, list2))
if(overlapping(list1, list2)):
    print("overlapping")
else:
    print("not overlapping")

1
overlapping

In [80]:
# compare two tuple
t1 = (1,2,3)
t2 = (1,7,0)

res = False
if t2>t1:
    res = True

print(res)

True

In [86]:
#iterate-through-tuple-of-tuples-in-python

name = (('mansi',12),('sam',11),('nik',13))
for i in name:
    #print(i)
    for j in i:
        print(j)
    print()

mansi
12

sam
11

nik
13

In [ ]:
#Join Tuples if similar initial element
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

In [95]:
#Create list of tuples using for loop
l1 = [5,4,5,6,7,3,2]
res = []
for i in range(len(l1)):
    res.append((l1[i],i))
print(res)

[(5, 0), (4, 1), (5, 2), (6, 3), (7, 4), (3, 5), (2, 6)]

In [96]:
t1

(1, 2, 3)

In [97]:
min(t1)

1

In [98]:
max(t1)

3

In [100]:
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2) 
Tuple.index(3)

3

In [102]:
# getting the index of 3 after 6th 
# index 
res = Tuple.index(3, 6) 
print('First occurrence of 3 after 4th index is:', res)

First occurrence of 3 after 4th index is: 7